entrypoint = "index.js"
modules = ["nodejs-20"]
hidden = [".config"]

[gitHubImport]
requiredFiles = [".replit", "replit.nix", "package.json", "package-lock.json"]

[nix]
channel = "stable-24_05"

[unitTest]
language = "nodejs"

[deployment]
run = ["node", "index.js"]
deploymentTarget = "cloudrun"
ignorePorts = false

[[ports]]
localPort = 3000
externalPort = 80

# [[ports]]
# localPort = 37183
# externalPort = 3001

# [[ports]]
# localPort = 40001
# externalPort = 3000

# [[ports]]
# localPort = 45309
# externalPort = 3003