entrypoint = "index.js"
modules = ["nodejs-20"]
hidden = [".config"]

[gitHubImport]
requiredFiles = [".replit", "replit.nix", "package.json", "package-lock.json"]

[nix]
channel = "stable-24_05"

[unitTest]
language = "nodejs"

[deployment]
run = ["node", "index.js"]
deploymentTarget = "cloudrun"
ignorePorts = false

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 33815
externalPort = 8008

[[ports]]
localPort = 34951
externalPort = 3002

[[ports]]
localPort = 35109
externalPort = 6000

[[ports]]
localPort = 35469
externalPort = 8099

[[ports]]
localPort = 36255
externalPort = 3001

[[ports]]
localPort = 36605
externalPort = 3003

[[ports]]
localPort = 37193
externalPort = 9000

[[ports]]
localPort = 37237
externalPort = 3000

[[ports]]
localPort = 40485
externalPort = 6800

[[ports]]
localPort = 42359
externalPort = 5000

[[ports]]
localPort = 43867
externalPort = 5173

[[ports]]
localPort = 45189
externalPort = 4200

[[ports]]
localPort = 45447
externalPort = 8080

[[ports]]
localPort = 45687
externalPort = 8000

# [[ports]]
# localPort = 37183
# externalPort = 3001

# [[ports]]
# localPort = 40001
# externalPort = 3000

# [[ports]]
# localPort = 45309
# externalPort = 3003